
# Excel Part 1 — Assignment (Enhanced Submission)
**Assignment code:** DA-AG-019

This notebook contains written answers (Q1–Q5) and practical demonstrations (Q6–Q10).  
I also included **formatted Excel files** and **embedded screenshots** so the submission looks polished.


## Question 1 — Difference between **Paste** and **Paste Special**

**Paste**: the default paste operation. It inserts the copied content exactly as it was copied — values, formulas, formatting, or objects depending on what was copied.  
**Example:** copy a cell with formula `=A1*2` and use *Paste* into another cell — the formula will paste (adjusting relative addresses).

**Paste Special**: gives control over what to paste (values only, formulas, formatting, comments, column widths, transpose, arithmetic operations like Add/Subtract/Multiply/Divide using the clipboard). Very useful to avoid copying unwanted formatting or to paste only the result of a formula.
**Example uses:**  
- Paste → *Paste Values* (to convert formula results into static numbers).  
- Paste → *Transpose* (switch rows↔columns).  
- Paste → *Multiply* (copy a cell with 100% and multiply a range by it via Paste Special → Multiply).

**When to use which:** If you only want the numeric result (no formulas), use *Paste Values* from Paste Special. If you want an exact replica (formatting + formulas), use normal Paste.


## Question 2 — Freeze Panes vs Split Panes

**Freeze Panes**: locks rows and/or columns so they remain visible while scrolling. Commonly used to keep header rows visible (e.g., freeze top row or first column). Example: *View → Freeze Panes → Freeze Top Row* keeps row 1 always visible while scrolling down.

**Split Panes**: splits the worksheet window into multiple resizable panes that can be scrolled independently. Useful to compare distant parts of a sheet simultaneously. Example: place the cursor and choose *View → Split* to create 2×2 panes — each pane has its own scroll position.

**Key difference:** Freeze keeps headers fixed relative to the window; Split gives independent viewports of the sheet.


## Question 3 — Insert row vs Insert column

- **Insert Row**: adds a new horizontal row (shifts existing rows below down). Shortcut in Excel: right-click row number → *Insert* or Home→Insert→Insert Sheet Rows.  
- **Insert Column**: adds a new vertical column (shifts existing columns right). Right-click column letter → *Insert* or Home→Insert→Insert Sheet Columns.

**Insert multiple at once:** Yes. Select multiple contiguous rows (or columns) before inserting. Excel will insert the same number of rows (or columns) as selected. Example: select 3 rows, right-click → Insert → Excel inserts 3 blank rows.


## Question 4 — Logical functions in Excel

Logical functions return TRUE/FALSE or choose values depending on logical tests. Examples:

- **IF(condition, value_if_true, value_if_false)** — basic branching. Example: `=IF(A2>18, "Adult", "Minor")`.
- **AND(condition1, condition2, ...)** — returns TRUE only if all conditions are true. Example: `=IF(AND(A2>18, B2="M"), "Adult Male","Other")`.
- **OR(condition1, condition2, ...)** — TRUE if any condition is true.
- **NOT(condition)** — inverts a logical result.

Use cases: data cleaning (flagging rows), conditional calculations, conditional formatting rules.


## Question 5 — XLOOKUP vs VLOOKUP

**VLOOKUP(lookup_value, table_array, col_index, [range_lookup])** searches the leftmost column of `table_array` and returns a value from the row found at the specified column index. Limitations: needs lookup column on the left, column index is numeric (fragile to column insertion), defaults to approximate match unless specified.

**XLOOKUP(lookup_value, lookup_array, return_array, [if_not_found], [match_mode], [search_mode])** is more flexible:
- Can look anywhere (lookup_array doesn't have to be leftmost).  
- Returns value from explicit return_array (no numeric index).  
- Has `if_not_found` argument to avoid `#N/A`.  
- Supports exact match by default and offers search modes (first/last, binary search).

**Recommendation:** prefer XLOOKUP when available because it's safer and clearer.

---
# Practical demonstrations (6–10)


### Question 6 — Create 'Employee Data' and format

The dataset is saved in Excel (`employee_data_formatted.xlsx`) with:
- Bold headers, yellow fill, centered text
- Auto-fitted column widths

Here is a screenshot of the formatted sheet:

![Employee Data Screenshot](employee_data_screenshot.png)

### Question 7 — Insert/Delete multiple rows/columns (demonstration)

In [1]:

# Demonstrate insertion / deletion of multiple rows / columns (pandas equivalent)
import pandas as pd
df = pd.DataFrame({
    'Name': ['Aisha Khan', 'Rohit Verma', 'Neha Patel', 'Sanjay Rao', 'Meera Singh'],
    'Age': [28, 34, 25, 41, 30],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'IT']
})

# Insert multiple rows at index 2: create new rows and concat
new_rows = pd.DataFrame([
    {'Name':'Rina Das','Age':29,'Department':'Sales'},
    {'Name':'Vikram Lal','Age':33,'Department':'IT'}
])
df_top = pd.concat([df.iloc[:2], new_rows, df.iloc[2:]]).reset_index(drop=True)

# Delete rows: remove rows with Age > 40 (example)
df_deleted = df_top[df_top['Age'] <= 40].reset_index(drop=True)

# Insert a new column "Location" with default values
df_deleted['Location'] = ['Delhi','Mumbai','Kolkata','Bengaluru','Chennai','Hyderabad'][:len(df_deleted)]

# Delete a column: drop 'Location'
df_after_col_delete = df_deleted.drop(columns=['Location'])

df_top, df_deleted, df_after_col_delete

(          Name  Age Department
 0   Aisha Khan   28         HR
 1  Rohit Verma   34    Finance
 2     Rina Das   29      Sales
 3   Vikram Lal   33         IT
 4   Neha Patel   25         IT
 5   Sanjay Rao   41  Marketing
 6  Meera Singh   30         IT,
           Name  Age Department   Location
 0   Aisha Khan   28         HR      Delhi
 1  Rohit Verma   34    Finance     Mumbai
 2     Rina Das   29      Sales    Kolkata
 3   Vikram Lal   33         IT  Bengaluru
 4   Neha Patel   25         IT    Chennai
 5  Meera Singh   30         IT  Hyderabad,
           Name  Age Department
 0   Aisha Khan   28         HR
 1  Rohit Verma   34    Finance
 2     Rina Das   29      Sales
 3   Vikram Lal   33         IT
 4   Neha Patel   25         IT
 5  Meera Singh   30         IT)


**Question 7 (Excel equivalent):**  
- In Excel: select multiple rows (e.g., two rows), right-click → Insert to insert multiple rows. To delete multiple rows, select them → right-click → Delete. Similar for columns. The above pandas cells show the conceptual data changes programmatically.

### Question 8 — Find & Replace demonstration

In [2]:

# Find and Replace demonstration: change Department 'IT' -> 'Information Technology'
import pandas as pd
df_fr = pd.DataFrame({
    'Name': ['Aisha Khan', 'Rohit Verma', 'Neha Patel', 'Sanjay Rao', 'Meera Singh'],
    'Age': [28, 34, 25, 41, 30],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'IT']
})
df_fr['Department'] = df_fr['Department'].replace({'IT':'Information Technology'})
df_fr

          Name  Age              Department
0   Aisha Khan   28                      HR
1  Rohit Verma   34                 Finance
2   Neha Patel   25  Information Technology
3   Sanjay Rao   41               Marketing
4  Meera Singh   30  Information Technology


**Question 8 — Find & Replace:** In Excel: *Home → Find & Select → Replace* (or Ctrl+H). Replace 'IT' with 'Information Technology'. The cell values shown above demonstrate the replaced values.

### Question 9 — AVERAGE, MAX, MIN

In [3]:

# Create a small numeric dataset and compute AVERAGE, MAX, MIN
import pandas as pd
nums = pd.Series([12, 45, 32, 18, 50, 27])
average = nums.mean()
max_val = nums.max()
min_val = nums.min()
average, max_val, min_val

(np.float64(30.666666666666668), 50, 12)


**Question 9:** In Excel you would use `=AVERAGE(range)`, `=MAX(range)`, `=MIN(range)`.
Above outputs correspond to those formulas applied to the sample numeric list.

### Question 10 — Missing values detection & handling

In [4]:

# Missing values example and handling
import pandas as pd
df_missing = pd.DataFrame({
    'Name': ['A','B','C','D', None],
    'Score': [85, None, 78, 92, 88],
    'Department': ['Sales','HR', None, 'IT','Finance']
})

# Detect missing: isnull, count blanks per column
isnull_table = df_missing.isnull()
count_blank = df_missing.isnull().sum()

# Handling strategies:
drop_rows = df_missing.dropna()  # drop rows with any missing value
fill_with_mean = df_missing.copy()
fill_with_mean['Score'] = fill_with_mean['Score'].fillna(df_missing['Score'].mean())  # fill numeric with mean
fill_with_value = df_missing.fillna({'Name':'Unknown', 'Department':'Unknown'})

df_missing, isnull_table, count_blank, drop_rows, fill_with_mean, fill_with_value

(   Name  Score Department
 0     A   85.0      Sales
 1     B    NaN         HR
 2     C   78.0       None
 3     D   92.0         IT
 4  None   88.0    Finance,
     Name  Score  Department
 0  False  False       False
 1  False   True       False
 2  False  False        True
 3  False  False       False
 4   True  False       False,
 Name          1
 Score         1
 Department    1
 dtype: int64,
   Name  Score Department
 0    A   85.0      Sales
 3    D   92.0         IT,
    Name  Score Department
 0     A  85.00      Sales
 1     B  85.75         HR
 2     C  78.00       None
 3     D  92.00         IT
 4  None  88.00    Finance,
       Name  Score Department
 0        A   85.0      Sales
 1        B    NaN         HR
 2        C   78.0    Unknown
 3        D   92.0         IT
 4  Unknown   88.0    Finance)


**Question 10 — Handling missing data in Excel (concepts):**  
- **Detect blanks:** Home → Find & Select → Go To Special → Blanks. Or use formulas: `=ISBLANK(A2)` or `=COUNTBLANK(range)` to count blanks.  
- **Handle blanks:** Options include deleting rows (if missing critical data), filling blanks with a default value (e.g., `N/A`), or using statistical filling (mean/median) for numeric columns. Excel tools: `Filter` to show blanks, `Go To Special` to select blanks, `IF` formulas, or use Power Query for more advanced imputation.